<mat-toolbar>
  <ng-container *ngIf="(userService.user$ | async)">
    <div class="mx-2" *ngFor="let tab of navigationService.tabs">
      <a mat-raised-button [routerLink]="tab.route" routerLinkActive="isActive">{{tab.label}} </a>
    </div>
  </ng-container>
  <span class="flex-1 flex justify-center">
    <ng-container *ngIf="serverInfo$ | async as serverInfo">
     <ng-container *ngIf="serverInfo.pr">You're viewing PR: {{serverInfo.pr}} With Db: {{serverInfo.db}}</ng-container>
    </ng-container>
  </span>
  <ng-container *ngIf="(userService.user$ | async) as user;  else logInTemplate">
    <button mat-button [matMenuTriggerFor]="userMenu">{{user.utsUser.username}}</button>
  </ng-container>
  <mat-menu #userMenu="matMenu">
    <button mat-menu-item (click)="userService.logOut()">Log Out</button>
  </mat-menu>
  <ng-template #logInTemplate>
    <button mat-raised-button>
      Sign Up
    </button>
    <button mat-raised-button (click)="openLoginModal()">
      Log In
    </button>
  </ng-template>
</mat-toolbar>
<mat-drawer-container class="min-h-svh" autosize>
  <div class="example-loading-shade" *ngIf="loadingService.loading$ | async">
    <mat-spinner></mat-spinner>
  </div>
  <main class="m-5">
    <router-outlet></router-outlet>
  </main>
</mat-drawer-container>
