<mat-toolbar>
  <button mat-raised-button routerLink="/">Home</button>
  <span class="example-spacer"></span>
  <ng-container *ngIf="(userService.user$ | async) as user;  else logInTemplate">
    <button mat-button [matMenuTriggerFor]="userMenu">{{user.utsUser.username}}</button>
  </ng-container>
  <mat-menu #userMenu="matMenu">
    <button mat-menu-item (click)="userService.logOut()">Log Out</button>
  </mat-menu>
  <ng-template #logInTemplate>
    <button mat-raised-button>
      Sign Up
    </button>
    <button mat-raised-button (click)="openLoginModal()">
      Log In
    </button>
  </ng-template>
</mat-toolbar>

<router-outlet></router-outlet>
