<h2 mat-dialog-title>Log Notes</h2>
<mat-dialog-content class="mat-typography">
  <div *ngFor="let group of ['Error', 'Warning', 'Info']">
    <h3 *ngIf="groupedMessages[group]?.length">{{ group }}</h3>
    <ul *ngIf="groupedMessages[group]?.length">
      <li *ngFor="let message of groupedMessages[group]">
        <strong>{{ message.tag }}:</strong> {{ message.message }}
        <small>({{ message.creationTime }})</small>
      </li>
    </ul>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close cdkFocusInitial>Close</button>
</mat-dialog-actions>
