<h2 *ngIf="existingLoadRequest?.opRequestSeq; else newReqH2" mat-dialog-title>Edit Request</h2>
<ng-template #newReqH2>
  <h2 mat-dialog-title>Request Creation</h2>
</ng-template>
<form [formGroup]="loadRequestCreationForm">
  <mat-dialog-content class="mat-typography">
    <div class="flex flex-col">
      <mat-form-field appearance="outline">
        <mat-label>Code System Name</mat-label>
        <mat-select formControlName="codeSystemName" (selectionChange)="onCodeSystemNameSelectChange($event)">
          <mat-option value="">Select Code System</mat-option>
          <mat-option *ngFor="let CODE_SYSTEM_NAME of constantService.CREATE_REQUEST_CODE_SYSTEM_NAMES"
                      [value]="CODE_SYSTEM_NAME">{{CODE_SYSTEM_NAME}}</mat-option>
        </mat-select>
        <ng-container *ngIf="loadRequestCreationForm.get('codeSystemName')?.getRawValue() as codeSystemName">
          <ng-container *ngIf="CODE_SYSTEM_REQUIRED_SOURCE_FILE as requiredFiles">
            <mat-list role="list" class="border-gray-50 border-2 border-solid mb-3" *ngIf="requiredFiles.length">
              <strong mat-subheader>Required Source Files of {{codeSystemName}}</strong>
              <mat-list-item role="listitem" *ngFor="let requiredFile of requiredFiles">
                <div matListItemTitle>{{requiredFile}}</div>
              </mat-list-item>
            </mat-list>
          </ng-container>
        </ng-container>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Request Subject</mat-label>
        <input matInput placeholder="Request Subject" formControlName="requestSubject">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label for="sourcePathFile">Source File Path</mat-label>
        <input matInput formControlName="sourceFilePath">
        <mat-icon matSuffix
                  arial-label="Copy folder location to clipboard"
                  [cdkCopyToClipboard]="'file://nlmsambaserver.nlm.nih.gov/dev-ts-data-import/'"
        >content_copy
        </mat-icon>
        <mat-hint>Copy and paste source file path here. It must be in the form of file://path/to/folder</mat-hint>
        <mat-error *ngIf="loadRequestCreationForm.get('sourceFilePath')?.hasError('sourceFilePathError')">
          Please select source file from NLM server
        </mat-error>
      </mat-form-field>
      <div class="mb-5">
        <label id="load-request-type-label" for="load-request-type-radio">Request Type</label>
        <mat-radio-group aria-label-by="load-request-type-label" id="load-request-type-radio"
                         formControlName="requestType">
          <div class="ml-20">
            <mat-radio-button *ngFor="let LOAD_REQUEST_TYPE of ['Emergency', 'Regular', 'Scheduled']"
                              [value]="LOAD_REQUEST_TYPE"
                              class="block">{{LOAD_REQUEST_TYPE}}</mat-radio-button>
            <ng-container *ngIf="loadRequestCreationForm.get('requestType')?.value === 'Scheduled'">
              <mat-form-field appearance="outline" class="ml-3 dense-form-field">
                <mat-label>Scheduled Date</mat-label>
                <input matInput formControlName="scheduledDate" [matDatepicker]="picker"
                       [matDatepickerFilter]="futureDateFilter">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <mat-form-field appearance="outline" class="dense-form-field">
                <mat-label>Scheduled time</mat-label>
                <mat-select formControlName="scheduledTime">
                  <mat-option value=""></mat-option>
                  <mat-option *ngFor="let option of scheduledTimeOptions()" [value]="option">{{option}}</mat-option>
                </mat-select>
              </mat-form-field>
              EST
            </ng-container>
          </div>
        </mat-radio-group>
      </div>
      <mat-form-field appearance="outline">
        <mat-label>Notification Email</mat-label>
        <input matInput placeholder="contact@nlm.nih.gov" formControlName="notificationEmail">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Requester</mat-label>
        <input matInput placeholder="Requester" type="email" formControlName="requester">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Request Date</mat-label>
        <input #requestTime matInput placeholder="Request Date" formControlName="requestTime" class="hidden">
        <span>{{requestTime.value | easternTime}}</span>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button color="primary" mat-dialog-close>Cancel</button>
    <button mat-raised-button color="warn" type="submit" [disabled]="loadRequestCreationForm.invalid"
            [mat-dialog-close]="loadRequestCreationForm.getRawValue()">Submit
    </button>
  </mat-dialog-actions>
</form>

