<fieldset>
  <legend>Load Activities</legend>
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="componentName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Component name</th>
      <td mat-cell *matCellDef="let element"> {{element.componentName}} </td>
    </ng-container>

    <ng-container matColumnDef="startTime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Start time</th>
      <td mat-cell *matCellDef="let element"> {{element.startTime | easternTime}} </td>
    </ng-container>

    <ng-container matColumnDef="endTime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> End Time</th>
      <td mat-cell *matCellDef="let element"> {{element.endTime | easternTime}} </td>
    </ng-container>

    <ng-container matColumnDef="duration">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Duration</th>
      <td mat-cell *matCellDef="let element"> {{duration(element) | easternTime: 'hh:mm:ss'}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Status</th>
      <td mat-cell *matCellDef="let element"> {{element.status}} </td>
    </ng-container>

    <ng-container matColumnDef="nbOfMessages">
      <th mat-header-cell *matHeaderCellDef mat-sort-header># of Messages</th>
      <td mat-cell
          *matCellDef="let element"> {{element.infos.length + element.warnings.length + element.errors.length}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of activities"
                 [showFirstLastButtons]="true"></mat-paginator>
</fieldset>
