<h2 mat-dialog-title>Add Note to Current Activity</h2>
<form [formGroup]="addNoteForm">
  <mat-dialog-content class="mat-typography">
    <div class="flex flex-col">
      <mat-form-field appearance="outline" >
        <mat-chip-grid #chipGrid aria-label="New Hashtag..." formControlName="hashtags">
          @for (hashtag of hashtagsSig(); track hashtag) {
            <mat-chip-row (removed)="removeHashtag(hashtag)">
              {{hashtag}}
              <button matChipRemove aria-label="'remove ' + hashtag">
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip-row>
          }
        </mat-chip-grid>
        <input
          placeholder="New keyword..."
          [matChipInputFor]="chipGrid"
          (matChipInputTokenEnd)="addHashtag($event)"
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Note</mat-label>
        <textarea matInput placeholder="Note" formControlName="notes"></textarea>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button color="primary" type="submit" [disabled]="addNoteForm.invalid"
            [mat-dialog-close]="addNoteForm.getRawValue()">Save
    </button>
    <button mat-raised-button mat-dialog-close cdkFocusInitial>Cancel</button>
  </mat-dialog-actions>
</form>
