<form [formGroup]="searchCriteria">
  <div class="flex justify-between mx-5">
    <div class="flex justify-between">
      <mat-form-field>
        <mat-label>Any Request date</mat-label>
        <mat-select placeholder="Any Request date" formControlName="requestDateRange">
          <mat-option value="">Any Request date</mat-option>
          <mat-option value="today">Today's</mat-option>
          <mat-option value="thisWeek">This week's</mat-option>
          <mat-option value="lastWeek">Last week's</mat-option>
          <mat-option value="thisMonth">This month's</mat-option>
          <mat-option value="lastMonth">Last month's</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>All Requests</mat-label>
        <mat-select placeholder="All Requests" formControlName="requestType">
          <mat-option value="0">All Requests</mat-option>
          <mat-option value="1">My Requests</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-fab extended color="primary" type="submit">
        <mat-icon fontIcon="search"></mat-icon>
        Search
      </button>
      <button mat-fab extended type="reset">
        <mat-icon fontIcon="clear"></mat-icon>
        Reset
      </button>
    </div>
    <div class="flex align-middle">
      <button mat-fab extended color="primary" (click)="openCreateLoadRequestModal()">
        <mat-icon fontIcon="add"></mat-icon>
        Create Request
      </button>
      <button mat-fab extended color="primary" (click)="download()">
        <mat-icon fontIcon="file_download"></mat-icon>
        Download
      </button>
    </div>
  </div>

  <div class="mat-elevation-z8 m-5">
    <div class="example-table-container">
      <table mat-table [dataSource]="data()" class="example-table" multiTemplateDataRows
             matSort matSortActive="requestId" matSortDisableClear matSortDirection="asc"
             formGroupName="filters">

        <ng-container matColumnDef="requestId">
          <th mat-header-cell *matHeaderCellDef>
            <div class="flex flex-col m-2">
              <label for="requestIdFilterInput" class="m-2" mat-sort-header disableClear>Request ID</label>
              <input id="requestIdFilterInput" class="w-3/4" matInput formControlName="requestId" placeholder="Ex. 148"
                     type="number">
            </div>
          </th>
          <td mat-cell *matCellDef="let row">{{row.requestId}}</td>
        </ng-container>

        <ng-container matColumnDef="codeSystemName">
          <th mat-header-cell *matHeaderCellDef disableClear>
            <div class="flex flex-col m-2">
              <label for="codeSystemSearch" class="m-2" mat-sort-header disableClear>Code System Name</label>
              <select id="codeSystemSearch" class="w-20" formControlName="codeSystemName">
                <option value="">ALL</option>
                <option>RXNORM</option>
                <option>LOINC</option>
                <option>SNOMEDCT</option>
                <option>CDCREC</option>
                <option>CPT</option>
                <option>HPO</option>
              </select>
            </div>
          </th>
          <td mat-cell *matCellDef="let row">{{row.codeSystemName}}</td>
        </ng-container>

        <ng-container matColumnDef="requestSubject">
          <th mat-header-cell *matHeaderCellDef disableClear>
            <div class="flex flex-col m-2">
              <label for="subjectInput" class="m-2" mat-sort-header disableClear>Subject</label>
              <input id="subjectInput" matInput class="w-40" formControlName="requestSubject" placeholder="subject...">
            </div>
          </th>
          <td mat-cell *matCellDef="let row">{{row.requestSubject}}</td>
        </ng-container>

        <ng-container matColumnDef="requestStatus">
          <th mat-header-cell *matHeaderCellDef disableClear>
            <div class="flex flex-col m-2">
              <label for="requestStatusInput" class="m-2" mat-sort-header disableClear>Status</label>
              <select id="requestStatusInput" class="w-20" formControlName="requestStatus">
                <option value="">ALL</option>
                <option>In Progress</option>
                <option>Complete</option>
                <option>Failed</option>
              </select>
            </div>
          </th>
          <td mat-cell *matCellDef="let row">{{row.requestStatus}}</td>
        </ng-container>

        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef disableClear>
            <div class="flex flex-col m-2">
              <label for="requestTypeInput" class="m-2" mat-sort-header disableClear>Request Type</label>
              <select id="requestTypeInput" class="w-20" formControlName="type">
                <option value="">ALL</option>
                <option>regular</option>
                <option>scheduled</option>
                <option>emergency</option>
                <option>masterJob</option>
              </select>
            </div>
          </th>
          <td mat-cell *matCellDef="let row">{{row.type}}</td>
        </ng-container>

        <ng-container matColumnDef="requestTime">
          <th mat-header-cell *matHeaderCellDef disableClear>
            <div class="flex flex-col m-2">
              <label for="requestTimeInput" class="m-2" mat-sort-header disableClear>Request Time</label>
              <input id="requestTimeInput" matInput class="w-30" formControlName="requestTime" type="date">
            </div>
          </th>
          <td mat-cell
              *matCellDef="let row">{{row.requestTime.replace(' ', '') | date:'yyyy/MM/dd hh:mma':'GMT+05:00' }}</td>
        </ng-container>

        <ng-container matColumnDef="availableDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
            Available Date
          </th>
          <td mat-cell *matCellDef="let row">{{row.availableDate}}</td>
        </ng-container>

        <ng-container matColumnDef="requester">
          <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
            Requester
          </th>
          <td mat-cell *matCellDef="let row">{{row.requester}}</td>
        </ng-container>

        <ng-container matColumnDef="creationTime">
          <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
            Creation Time
          </th>
          <td mat-cell *matCellDef="let row">{{row.creationTime}}</td>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
          <td class="bg-gray-100" mat-cell *matCellDef="let row" [attr.colspan]="columnsToDisplayWithExpand().length">
            <div class="example-element-detail" [@detailExpand]="row === expandedElement ? 'expanded' : 'collapsed'">
              <div class="example-element-description" *ngIf="expandedElement === row">
                <app-load-request-detail [loadRequest]="row"></app-load-request-detail>
                <app-load-request-activity [requestId]="row.requestId"
                                           [loadRequestActivities]="row.loadRequestActivities"></app-load-request-activity>
                <app-load-request-message [loadRequestMessages]="row.loadRequestMessages"></app-load-request-message>
              </div>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand()"></tr>

        <tr mat-row *matRowDef="let row; columns: columnsToDisplayWithExpand();"
            class="example-element-row"
            [class.example-expanded-row]="expandedElement === row"
            (click)="expandedElement = expandedElement === row ? null : row;">
        </tr>

        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="9">
            No results found.
          </td>
        </tr>
      </table>
    </div>
    <mat-paginator [length]="resultsLength" [pageSizeOptions]="[5, 10, 50, 100]" [pageSize]="10"
                   aria-label="Select page of load requests"></mat-paginator>
  </div>
</form>
