<form [formGroup]="searchCriteria">
  <div class="flex justify-between mx-5">
    <div class="flex justify-between">
      <mat-form-field>
        <mat-label>Any Request date</mat-label>
        <mat-select placeholder="Any Request date" formControlName="filterRequestTime">
          <mat-option value="">Any Request date</mat-option>
          <mat-option value="today">Today's</mat-option>
          <mat-option value="thisWeek">This week's</mat-option>
          <mat-option value="lastWeek">Last week's</mat-option>
          <mat-option value="thisMonth">This month's</mat-option>
          <mat-option value="lastMonth">Last month's</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>All Requests</mat-label>
        <mat-select placeholder="All Requests" formControlName="filterRequester">
          <mat-option value="">All Requests</mat-option>
          <mat-option [value]="user?.utsUser!.username">My Requests</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-fab extended color="primary" type="submit">
        <mat-icon fontIcon="search"></mat-icon>
        Search
      </button>
      <button mat-fab extended routerLink="/load-requests" type="reset">
        <mat-icon fontIcon="clear"></mat-icon>
        Reset
      </button>
    </div>
    <div class="flex align-middle">
      <button mat-fab extended color="primary" (click)="openCreateLoadRequestModal()">
        <mat-icon fontIcon="add"></mat-icon>
        Create Request
      </button>
      <button mat-fab extended color="primary" (click)="download()">
        <mat-icon fontIcon="file_download"></mat-icon>
        Download
      </button>
    </div>
  </div>

  <div class="mat-elevation-z8 ">
    <div class="example-table-container">
      <table mat-table [dataSource]="data()" class="example-table" multiTemplateDataRows
             matSort [matSortActive]="currentLoadRequestSearchCriteria.sortCriteria.sortBy" matSortDisableClear
             [matSortDirection]="currentLoadRequestSearchCriteria.sortCriteria.sortDirection"
             (matSortChange)="handleSortEvent($event)">

        <ng-container matColumnDef="opRequestSeq">
          <th mat-header-cell *matHeaderCellDef style="padding:0; width: 118px">
            <div class="flex flex-col m-2">
              <label for="opRequestSeqFilterInput" class="m-2" mat-sort-header disableClear>Request ID</label>
            </div>
          </th>
          <td mat-cell *matCellDef="let row">
            <a [routerLink]="['/load-request', row.opRequestSeq]">{{row.opRequestSeq}}</a>
          </td>
        </ng-container>
        <ng-container matColumnDef="opRequestSeq-search">
          <th mat-header-cell *matHeaderCellDef>
            <div class="flex flex-col m-2">
              <input id="opRequestSeqFilterInput" class="w-3/4" matInput formControlName="opRequestSeq"
                     placeholder="Ex. 148" size="4" type="number">
            </div>
          </th>
        </ng-container>

        <ng-container matColumnDef="codeSystemName">
          <th mat-header-cell *matHeaderCellDef disableClear style="padding:0; width: 174px">
            <div class="flex flex-col m-2">
              <label for="codeSystemSearch" class="m-2" mat-sort-header disableClear>Code System Name</label>
            </div>
          </th>
          <td mat-cell *matCellDef="let row">{{row.codeSystemName}}</td>
        </ng-container>
        <ng-container matColumnDef="codeSystemName-search">
          <th mat-header-cell *matHeaderCellDef>
            <div class="flex flex-col m-2">
              <mat-form-field appearance="outline" id="codeSystemSearch">
                <mat-label>Code System Name</mat-label>
                <mat-select formControlName="codeSystemName" multiple>
                  <ng-container *ngFor="let CODE_SYSTEM_NAME of constantService.CODE_SYSTEM_NAMES">
                    <mat-option [value]="CODE_SYSTEM_NAME">{{CODE_SYSTEM_NAME}}</mat-option>
                  </ng-container>
                </mat-select>
              </mat-form-field>
            </div>
          </th>
        </ng-container>

        <ng-container matColumnDef="requestSubject">
          <th mat-header-cell *matHeaderCellDef disableClear>
            <div class="flex flex-col m-2">
              <label for="subjectInput" class="m-2" mat-sort-header disableClear>Subject</label>
            </div>
          </th>
          <td mat-cell *matCellDef="let row">{{row.requestSubject}}</td>
        </ng-container>
        <ng-container matColumnDef="requestSubject-search">
          <th mat-header-cell *matHeaderCellDef>
            <div class="flex flex-col m-2">
              <input id="subjectInput" matInput class="w-40" formControlName="requestSubject" placeholder="subject...">
            </div>
          </th>
        </ng-container>

        <ng-container matColumnDef="requestStatus">
          <th mat-header-cell *matHeaderCellDef disableClear>
            <div class="flex flex-col m-2">
              <label for="requestStatusInput" class="m-2" mat-sort-header disableClear>Status</label>
            </div>
          </th>
          <td mat-cell *matCellDef="let row">{{row.requestStatus}}</td>
        </ng-container>
        <ng-container matColumnDef="requestStatus-search">
          <th mat-header-cell *matHeaderCellDef>
            <div class="flex flex-col m-2">
              <select id="requestStatusInput" class="w-20" formControlName="requestStatus">
                <option value="">ALL</option>
                <option
                  *ngFor="let LOAD_REQUEST_STATUS of constantService.LOAD_REQUEST_STATUSES">{{LOAD_REQUEST_STATUS}}</option>
              </select>
            </div>
          </th>
        </ng-container>

        <ng-container matColumnDef="requestType">
          <th mat-header-cell *matHeaderCellDef disableClear>
            <div class="flex flex-col m-2">
              <label for="requestTypeInput" class="m-2" mat-sort-header disableClear>Request Type</label>
            </div>
          </th>
          <td mat-cell *matCellDef="let row">{{row.requestType}}</td>
        </ng-container>
        <ng-container matColumnDef="requestType-search">
          <th mat-header-cell *matHeaderCellDef>
            <div class="flex flex-col m-2">
              <select id="requestTypeInput" class="w-20" formControlName="requestType">
                <option value="">ALL</option>
                <option
                  *ngFor="let LOAD_REQUEST_TYPE of constantService.LOAD_REQUEST_TYPES">{{LOAD_REQUEST_TYPE}}</option>
              </select>
            </div>
          </th>
        </ng-container>

        <ng-container matColumnDef="requestTime">
          <th mat-header-cell *matHeaderCellDef disableClear>
            <div class="flex flex-col m-2">
              <label for="requestTimeRange" class="m-2" mat-sort-header disableClear>Request Time</label>
            </div>
          </th>
          <td mat-cell *matCellDef="let row">{{row.requestTime.replace(' ', '') | easternTime }}</td>
        </ng-container>
        <ng-container matColumnDef="requestTime-search">
          <th mat-header-cell *matHeaderCellDef>
            <div class="mt-2">
              <mat-form-field appearance="outline" id="requestTimeRange">
                <mat-label>Enter a date range</mat-label>
                <mat-date-range-input [rangePicker]="requestRangePicker">
                  <input matStartDate formControlName="requestTimeFrom" placeholder="Start date">
                  <input matEndDate formControlName="requestTimeTo" placeholder="End date">
                </mat-date-range-input>
                <mat-datepicker-toggle matIconSuffix [for]="requestRangePicker"></mat-datepicker-toggle>
                <mat-date-range-picker #requestRangePicker></mat-date-range-picker>
              </mat-form-field>
            </div>
          </th>
        </ng-container>

        <ng-container matColumnDef="requester">
          <th mat-header-cell *matHeaderCellDef disableClear>
            <div class="flex flex-col m-2">
              <label for="requesterInput" class="m-2" mat-sort-header disableClear>Requester</label>
            </div>
          </th>
          <td mat-cell *matCellDef="let row">{{row.requester}}</td>
        </ng-container>
        <ng-container matColumnDef="requester-search">
          <th mat-header-cell *matHeaderCellDef>
            <div class="flex flex-col m-2">
              <input id="requesterInput" matInput class="w-40" formControlName="requester" placeholder="requester...">
            </div>
          </th>
        </ng-container>

        <ng-container matColumnDef="creationTime">
          <th mat-header-cell *matHeaderCellDef disableClear>
            <div class="flex flex-col m-2">
              <label for="creationTimeRange" class="m-2" mat-sort-header disableClear>Creation Time</label>
            </div>
          </th>
          <td mat-cell *matCellDef="let row">{{row.creationTime | easternTime}}</td>
        </ng-container>
        <ng-container matColumnDef="creationTime-search">
          <th mat-header-cell *matHeaderCellDef>
            <div class="mt-2">
              <mat-form-field appearance="outline" id="creationTimeRange">
                <mat-label>Enter a date range</mat-label>
                <mat-date-range-input [rangePicker]="createRangePicker">
                  <input matStartDate formControlName="creationTimeFrom" placeholder="Start date">
                  <input matEndDate formControlName="creationTimeTo" placeholder="End date">
                </mat-date-range-input>
                <mat-datepicker-toggle matIconSuffix [for]="createRangePicker"></mat-datepicker-toggle>
                <mat-date-range-picker #createRangePicker></mat-date-range-picker>
              </mat-form-field>
            </div>
          </th>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay()"></tr>
        <tr mat-header-row *matHeaderRowDef="searchRowColumns"></tr>

        <tr mat-row *matRowDef="let row; columns: columnsToDisplay();"
            class="example-element-row">
        </tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="9">
            No results found.
          </td>
        </tr>
      </table>
    </div>
    <mat-paginator [length]="resultsLength" [pageSizeOptions]="[5, 10, 50, 100]"
                   [pageIndex]="currentLoadRequestSearchCriteria.pagination.pageNum - 1"
                   [pageSize]="currentLoadRequestSearchCriteria.pagination.pageSize"
                   (page)="handlePageEvent($event)" [showFirstLastButtons]="true"
                   aria-label="Select page of load requests"></mat-paginator>
  </div>
</form>
