<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NIH Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar bg-body-tertiary bg-primary-subtle">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1 ms-5">National Institutes of Health</span>
    </div>
</nav>
<main class="m-3">
    <div class="p-5">
        <h1 class="pb-3">Sign in</h1>
        <div class="card">
            <div class="card-body">
                <p>
                    Smart Card Login
                </p>
                <p class="card-text">
                    Insert your PIV card into your smart card reader or sign in using your mobile PIV-D credentials.
                </p>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#loginModal">Sign
                    in
                </button>
            </div>
        </div>
    </div>


</main>
<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form action="<%= returnURL %>">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Select a certificate</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <select class="form-select" multiple aria-label="Multiple select username" name="ticket">
                        <option value="peter-ticket">Peter</option>
                        <option value="christophe-ticket">Christophe</option>
                        <option value="ghost-ticket">Ghost</option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Ok</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>