<div class="mat-elevation-z8 m-5">
  <div class="example-table-container">
    <table mat-table [dataSource]="data" class="example-table" multiTemplateDataRows
           matSort matSortActive="requestId" matSortDisableClear matSortDirection="asc">

      <ng-container matColumnDef="requestId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Request ID</th>
        <td mat-cell *matCellDef="let row">{{row.requestId}}</td>
      </ng-container>

      <ng-container matColumnDef="loadNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Load Number</th>
        <td mat-cell *matCellDef="let row" (click)="expandedElement = expandedElement === row ? null : row"><a href="#">{{row.loadNumber}}</a></td>
      </ng-container>

      <ng-container matColumnDef="codeSystemName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Code System Name</th>
        <td mat-cell *matCellDef="let row">{{row.codeSystemName}}</td>
      </ng-container>

      <ng-container matColumnDef="versionStatus">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
          Request Status
        </th>
        <td mat-cell *matCellDef="let row">{{row.versionStatus}}</td>
      </ng-container>

      <ng-container matColumnDef="version">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
          Version
        </th>
        <td mat-cell *matCellDef="let row">{{row.version}}</td>
      </ng-container>

      <ng-container matColumnDef="requestTime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
          Request Time
        </th>
        <td mat-cell *matCellDef="let row">{{row.requestTime | date:'yyyy/MM/dd hh:mma':'GMT+05:00'}}</td>
      </ng-container>

      <ng-container matColumnDef="loadTime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
          Load Time
        </th>
        <td mat-cell *matCellDef="let row">{{row.loadTime | date:'yyyy/MM/dd hh:mma':'GMT+05:00'}}</td>
      </ng-container>

      <ng-container matColumnDef="requester">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
          Requester
        </th>
        <td mat-cell *matCellDef="let row">{{row.requester}}</td>
      </ng-container>

      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
      <ng-container matColumnDef="expandedDetail">
        <td class="bg-gray-100" mat-cell *matCellDef="let row" [attr.colspan]="displayedColumns.length">
          <div class="" [@detailExpand]="row === expandedElement ? 'expanded' : 'collapsed'"  *ngIf="expandedElement === row">
            <div class="flex">
              <div class="m-2" style="flex-grow:0.35">
                <app-version-qa-detail [versionQA]="row" class="flex flex-grow"></app-version-qa-detail>
              </div>
              <app-load-summary [loadSummary]="row.loadSummary" style="flex-grow:0.65"></app-load-summary>
            </div>
            <div class="flex" style="flex-grow:1">
              <fieldset style="border-width: 4px; border-radius: 16px;">
                <legend>QA Acceptance</legend>
                <app-version-qa-activity [versionQaActivities]="row.versionQaActivities" [requestId]="row.requestId"  class="flex flex-grow"></app-version-qa-activity>
              </fieldset>
            </div>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
          class="example-element-row"
          [class.example-expanded-row]="expandedElement === row"
          >
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

      <tr *matNoDataRow>
        <td class="mat-cell" colspan="9">
          No results found.
        </td>
      </tr>
    </table>
  </div>

  <mat-paginator [length]="resultsLength" [pageSizeOptions]="[5, 10, 50]" [pageSize]="10"
                 aria-label="Select page of load requests"></mat-paginator>
</div>
