<table class="mat-elevation-z8 my-3" mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="key">
    <th mat-header-cell *matHeaderCellDef>Key</th>
    <td mat-cell *matCellDef="let element" class="text-right text-nowrap">{{element.key}}</td>
  </ng-container>

  <ng-container matColumnDef="value">
    <th mat-header-cell *matHeaderCellDef>Value</th>
    <td mat-cell *matCellDef="let element">
      <ng-container *ngIf="element.type === 'date'; else defaultCell">
        {{element.value | easternTime:'YYYY/MM/dd z'}}
      </ng-container>
      <ng-template #defaultCell>
        {{element.value}}
      </ng-template>
    </td>
  </ng-container>

  <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="h-5"></tr>

  <tr *matNoDataRow>
    <td class="mat-cell" colspan="9">
      No results found.
    </td>
  </tr>
</table>
