  <mat-card>
    <mat-card-content>
      <table mat-table [dataSource]="dataSource">
        <!-- Key Column -->
        <ng-container matColumnDef="key">
          <th mat-header-cell *matHeaderCellDef>Key</th>
          <td mat-cell *matCellDef="let element">{{element.label}}</td>
        </ng-container>

        <!-- Value Column -->
        <ng-container matColumnDef="value">
          <th mat-header-cell *matHeaderCellDef>Value</th>
          <td mat-cell *matCellDef="let element">
            <div class="flex justify-between" [ngSwitch]="element.key">
              {{element.value}}
              <button mat-raised-button *ngSwitchCase="'codeSystemName'">Go to QA Report</button>
              <button mat-raised-button *ngSwitchCase="'version'">Analyze Code System Data</button>
              <button mat-raised-button *ngSwitchCase="'loadNumber'">Analyze Row Source Data</button>
              <button mat-raised-button *ngSwitchCase="'requestId'">View Source Data Files</button>
              <ng-container *ngSwitchDefault></ng-container>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-divider></mat-divider>
    </mat-card-content>
  </mat-card>


<mat-card>
  <mat-card-header>
    <mat-card-subtitle>Activity History</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <table>
      <thead>
      <tr>
        <th>Sequence</th>
        <th>Action</th>
        <th>Updated Time</th>
        <th>Number of Notes</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Current</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>1st</td>
        <td>Reject</td>
        <td></td>
        <td>1</td>
      </tr>
      </tbody>
    </table>
  </mat-card-content>
</mat-card>
<div class="m-10">
  <button mat-raised-button color="primary" (click)="accept()">Accept</button>
  <button mat-raised-button color="warn">Reject</button>    
</div>

