.example-container {
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}

.example-spacer {
  flex: 1 1 auto;
}

main{
  margin-top:64px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
