<div class="mat-elevation-z8 my-3">
  <table mat-table [dataSource]="dataSource">
    <!-- Key Column -->
    <ng-container matColumnDef="key">
      <th mat-header-cell *matHeaderCellDef>Key</th>
      <td mat-cell *matCellDef="let element">{{element.label}}</td>
    </ng-container>

    <!-- Value Column -->
    <ng-container matColumnDef="value">
      <th mat-header-cell *matHeaderCellDef>Value</th>
      <td mat-cell *matCellDef="let element">
        <ng-container [ngSwitch]="element.key">
          <ng-container *ngSwitchCase="'loadNumber'">
            <a routerLink="/load-versions" [queryParams]="{loadNumber:element.value, expand:true}">{{element.value}}</a>
          </ng-container>
          <ng-container *ngSwitchDefault>
            {{element.value}}
          </ng-container>
        </ng-container>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr *matNoDataRow>
      <td class="mat-cell" colspan="9">
        No results found.
      </td>
    </tr>
  </table>
</div>